:root {
  --base-color-success: #0cbb52;
  --background-color-primary: #212121;
  --base-color-brand: #ff6c37;
  --content-color-info: #74aef6;
  --content-color-error: #f79a8e;
  --content-color-warning: #ffe47e;
  --content-color-success: #6bdd9a;
  --content-color-patch-method: #c0a8e1;
  --content-color-options-method: #f15eb0;
}

/* Uniwersalny reset dla elementów, aby padding i border nie wpływały na całkowity rozmiar elementu */
* {
  box-sizing: border-box;
}

/* Ustawienie wysokości elementu html na 100% */
html {
  height: 100%;
}

/* Resetowanie marginesów zewnętrznych dla elementu body oraz ustawienie minimalnej wysokości na 100% */
body {
  margin: 0;
  min-height: 100%;
}

/* Resetowanie marginesów zewnętrznych dla wszystkich nagłówków i ustawienie wysokości linii na 'normal' */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
}

/* Resetowanie marginesów zewnętrznych dla paragrafów */
p {
  margin: 0;
}

/* Usunięcie podkreślenia dla linków i dziedziczenie koloru od elementu rodzica */
a {
  text-decoration: none;
  color: inherit;
}

input {
  color: inherit;
}

/* Resetowanie stylów list (zarówno kropkowanych, jak i numerowanych) oraz marginesów zewnętrznych i wewnętrznych */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Ustawienie maksymalnej szerokości obrazków na 100% szerokości elementu rodzica */
img {
  max-width: 100%;
  height: auto;
}

button {
  color: inherit;
}

input,
button,
select {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.success {
  color: var(--content-color-success);
}

body {
  background: #212121;
  color: #a6a6a6;
  display: flex;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  height: 100%;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input[type="radio"] {
  visibility: hidden;

  &:checked {
    &::before {
      height: 6px;
      width: 6px;
      visibility: visible;
      content: "";
      background-color: white;
      border: 3px solid #097bed;
    }
  }

  &:before {
    visibility: visible;
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 50%;
    border: 1px solid #6b6b6b;
    display: flex;
    font-size: var(--text-size-xl);
    justify-content: center;
    align-items: center;
    line-height: 1px;
  }
}

input[type="checkbox"] {
  appearance: none;
  padding: 0;
  margin: 0;

  &:hover {
    cursor: pointer;
  }

  &:checked {
    &::before {
      background: white;
      background-image: url("./check-gray.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &:not(:checked) {
    &:hover {
      &::before {
        background-image: url("./check-gray.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  &::before {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    border: 1px solid #6b6b6b;
    border-radius: 4px;
  }
}

button {
  cursor: pointer;
  font-size: 0.875rem;

  &.fill {
    background: rgb(9, 123, 237);
    color: white;
    border-radius: 0.25rem;
    padding-inline: 0.625rem;
    padding-block: 0.5rem;
    border: none;
    font-weight: 600;

    &.gray {
      background: #2b2b2b;
    }

    &:hover {
      background: #0265d2;
    }
  }
}

h6 {
  font-size: 0.75rem;
  font-weight: 600;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  overflow: visible;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 100px;
}
