.EmptyResponse {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & > header {
    height: 32px;
    display: flex;
    align-items: flex-start;
    padding-top: 5px;

    span {
      color: white;
      font-size: 12px;
      font-weight: 600;
    }
  }

  & > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
  }
}
